<!DOCTYPE html>
<html>
  <head>
    <title>POLLS</title>
  </head>
  <body>
    <h1>POLLS</h1>
    <form>
      <div>
      <label for="search">Search : </label>
      <input type="text" id="search" name="search"><br><br>
      <button class="blue-button" (click)="create()">Create New POLL</button>
    </div>
    </form>
    <table>
      <thead>
        <tr>
          <th>POLL Name</th>
          <th>Created Date</th>
          <th>Employee Count</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let poll of allPolls">
          <td>{{ poll.poll_name }}</td>
          <td>{{ poll.created_date }}</td>
          <td>{{ poll.poll_employees_list.length}}</td>
          <td>

            <button class="green-button" (click)="editPoll(poll.id)">Edit</button>
            <button class="yellow-button" (click)="details(poll.id)">Details</button>
            <button class="red-button" (click)="pollDelete(poll.id)">Delete</button>
            <button class="orange-button" (click)="toggleButton(poll.id, poll.poll_start, poll.poll_end)">{{ getButtonLabel(poll.id, poll.poll_start, poll.poll_end) }}</button>
            
          </td>
          </tr>
      </tbody>
    </table>
  </body>
</html>

<html>
  <head>

  </head>
  <body>
    
    <div class="area"></div>
    <nav class="main-menu">
      <ul>
        <li>
          <a href="http://localhost:4200/Welcome">
            <i class="fa fa-home fa-2x"></i>
            <span class="nav-text">
              HR Dashboard
            </span>
          </a>
        </li>
        <li class="has-subnav">
          <a (click)="group()">
            <i class="fa fa-group fa-2x"></i>
            <span class="nav-text">
              Groups
            </span>
          </a>
        </li>
        <li class="has-subnav">
          <a (click)="event()">
            <i class="fa fa-calendar fa-2x"></i>
            <span class="nav-text">
              Events
            </span>
          </a>
        </li>
        <li>
          <a (click)="poll()">
            <i class="fa fa-info fa-2x"></i>
            <span class="nav-text">
              Polls
            </span>
          </a>
        </li>
      </ul>
      <ul class="logout">
        <li>
          <a (click)="signOut()">
            <i class="fa fa-power-off fa-2x"></i>
            <span class="nav-text">
              Logout
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </body>
</html>

